.footer {
  background-color: rgb(211, 211, 211);
}

#contact h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
}
#contact .btn {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 1.2rem;
}

#btnSubmit {
  appearance: none;
  border: none;
  background-color: rgb(160, 3, 3);
  padding: 0.25rem 0.5rem;
  color: white;
  border-radius: 5px;
  transition: all 250ms ease;
}
